



<markdown 
mermaid
ngPreserveWhitespaces >
<pre class="mermaid"> 

    graph TD;
    id1[[1.make a Component.html file ]]-->id2[[2.make another stories.ts file ]];
    id2-->id3([To tell Storybook about the component we are documenting, we create a default export that contains]);
    id3-->id4([component])
    id3-->id5[[change config file]];
    id3-->id6([excludeStories ])
    id3-->id7([title])
    id5-->id8[[create an interface for the Task model]]


</pre> 

</markdown>








<!-- <div class="list-item {{ task?.state }}">
    <label
      [attr.aria-label]="'archiveTask-' + task.id"
      for="checked-{{ task?.id }}"
      class="checkbox"
    >
      <input
        type="checkbox"
        disabled="true"
        [defaultChecked]="task?.state === 'TASK_ARCHIVED'"
        name="checked-{{ task?.id }}"
        id="checked-{{ task?.id }}"
      />
      <span class="checkbox-custom" ></span>
    </label>
    <label
      [attr.aria-label]="task.title + ''"
      for="title-{{ task?.id }}"
      class="title"
    >
      <input
        type="text"
        [value]="task.title"
        readonly="true"
        id="title-{{ task?.id }}"
        name="title-{{ task?.id }}"
        placeholder="Input title"
      />
    </label>
    <button
      *ngIf="task?.state !== 'TASK_ARCHIVED'"
      class="pin-button"
      [attr.aria-label]="'pinTask-' + task.id"
      
    >
      <span class="icon-star"></span>
    </button>
  </div>
 -->


  